 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: Montserrat, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
 }
 
 header {
    background-color: lightblue;
    color:white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    max-height: 50px;
    background-color: mediumblue;
    padding: 0.5rem 0;
}

nav a {
    color:white;
    margin: 0 1rem;
    padding: 0.5rem 1 rem;
    transition: background 0.3s;
}

nav a:hover {
    background-color: aliceblue;

}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: lightblue;
    min-height: calc(100vh - 50px - 3rem); 
}

main > section {
    padding: 1rem;
    background-color: lightcyan;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

 footer{
    background-color: blue;
    color:white;
    text-align: center;
    padding:1rem;
}

@media (max-width: 770px) {
    main{
        grid-template-columns: 1fr;
    }
}