
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #7295ed;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-color: rgb(155, 198, 241);
  
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}


main {
  display: flex;
  justify-content: space-around; 
  align-items: stretch; 
  gap: 2rem;
  padding: 2rem;
}

/* Card styles */
.card {
  background-color: white;
  border: 2px solid #84b1e8;
  border-radius: 10px;
  padding: 1.5rem;
  width: 100%; 
  
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  
}
.cali{
  text-align: center;
}

.about-header{
  background-color: rgb(135, 179, 233);
  max-width: 100%;
  text-align: center;
  color: white;
}

.dev-header{
  background-color: rgb(135, 179, 233);
  max-width: 100%;
  text-align: center;
  color: white;
}


#first-card {
  display: block; 
}

#first-card .me img {
  max-width: 150px;
  max-height: 140px;
  display: block;
  margin: 10px; 
  float: right;
}

#first-card img.ca {
  display: block;
  margin: 10px; 
  max-width: 200px;
  float: left;

}

#first-card p {
  margin-top: 1rem;
}


#second-card ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

#second-card ul li {
  margin-bottom: 0.5rem;
}

#second-card ul li a {
  text-decoration: none;
  color: #7f9ef5;
  font-weight: 600;
}

#second-card ul li a:hover {
  text-decoration: underline;

}

/* Footer styles */
footer {
  background-color: #7da4f3;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}

footer p {
  margin: 0.5rem 0;
}